<nav class="navbar navbar-inverse navbar-fixed-top" id="navb">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="/">Avantari Tech</a>   
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
           <ul class="nav navbar-nav navbar-right">
               <li role="presentation"><a href="#">Help</a></li>
               <li role="presentation"><a href="#">Contact Us</a></li>
           </ul>
        </div>
    </div>
</nav>

